/* You can add global styles to this file, and also import other style files */

header{
    background-image: url("assets/images/img1.jpg") no-repeat ;
    background-image: url("assets/images/img2.jpg") no-repeat ;
    background-image: url("assets/images/img3.jpg") no-repeat ;
    background-image: url("assets/images/park.jpg") no-repeat ;

}
html {
    scroll-behavior: smooth;
  }
